<!--[if mso]>
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://sprzedajemy.pl/zaloguj" style="height:34px;v-text-anchor:middle;width:186px;" arcsize="12%" stroke="f" fillcolor="#ef5236">
    <w:anchorlock/>
    <center>
<![endif]-->


<button class="btn alert radius btn-primary btn-large" href="https://sprzedajemy.pl/zaloguj"><strong>Przejdź do konta &raquo;</strong></button>

<!--[if mso]>
</center>
</v:roundrect>
<![endif]-->