table.container.spr-email-wrapper {
  background: $white;
  border-radius: 6px;

  @media (max-width: $global-breakpoint) {
    width: 88.5% !important;
  }

}

.container.spr-footer {
  background: $light-gray;
  font-size: 11px;
}

.columns {
  margin-bottom: 0 !important;
  Margin-bottom: 0 !important;
}

.spr-header {
  background: #f8f9fa;
  border-radius: 6px 6px 0 0;
  overflow: hidden;

  .wrapper-inner .container {
    width: 100% !important;
    background: #f8f9fa;
  }

  .columns {
    margin: 0;
    Margin: 0;
    padding-bottom: 23px;
  }

  .logo {
    a {
      display: block;
    }

    img {
      max-width: 210px;
    }

  }

  .claim {
    a {
      display: block;
    }

    img {
      margin: 0 0 3px;
      Margin: 0 0 3px;
      padding-left: 20px;
      max-width: 360px;
    }

  }

  .spr-header-row {
    border-bottom: 1px solid $light-gray;
    border-radius: 6px 6px 0 0;
  }

  @media only screen and (max-width: $global-breakpoint) {

    .wrapper-inner .container {
      width: 100% !important;
      background: #f8f9fa;
    }

    img {
      margin: 0 auto;
      Margin: 0 auto;
    }

    .columns {
      padding-bottom: 8px !important;
    }

    .claim img {
      margin: 0 auto 7px !important;
      Margin: 0 auto 7px !important;
      padding-left: 0 !important;
      max-width: 264px !important;
    }

  }
}

table.body .spr-footer.container {
  p {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 0;
    Margin-bottom: 0;
    color: #68778c;
  }

  a {
    color: #3b5998;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: $global-breakpoint) {
    width: 88.5% !important;
  }

}

table.email-msg-wrapper,
table.container.email-msg-wrapper {

  tr > td {
    padding: 0 60px 0 120px;
  }

  .email-msg {
    font-size: 15px;
    line-height: 23px;

    .email-msg-heading {
      font-size: 15px;
      line-height: 18px;
    }

    tr > td {
      padding: 0;
    }

    p {
      font-size: 15px;
      line-height: 23px;
    }

    a:hover {
      text-decoration: underline;
    }

  }

  @media (max-width: $global-breakpoint) {
    width: 100% !important;

    tr > td {
      padding: 0 30px !important;
    }

    .email-msg tr > td {
      padding: 0 !important;
    }


  }

}

