.bottom-info {
	border-top: 1px dashed $light-gray;

	.wrapper-inner {
		padding: 15px 100px 5px;
		vertical-align: middle;

		.info-ico img {
			margin-top: 2px;
			width: 15px;
			height: 15px;
		}
	}

	@media (max-width: $global-breakpoint) {

		.wrapper-inner {
			padding: 15px 30px 5px !important;
		}

	}
}