
table .btn-wrapper,
table .container.btn-wrapper {
	margin: 0;
	Margin: 0;
	padding: 0;
	width: 100%;

	td.btn-wrapper-inner {
		padding: 0 0 0 120px;
	}

	td.btn-wrapper-inner.has-callout {
		padding: 0 30px 0 120px;
	}

	@media only screen and (max-width: $global-breakpoint) {
		margin: 0;
		Margin: 0;
		padding: 0 !important;
		width: 100% !important;
		text-align: center;

		td.btn-wrapper-inner {
			padding: 0 !important;
		}

		td.btn-wrapper-inner.has-callout {
			padding: 0 !important;
		}
	}
}


table.button.btn,
table.btn {
	margin: 0;
	Margin: 0;

	table td a {
		display: inline-block;
		text-align: center;

		strong {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}
}

a.btn.radius,
table.button.radius,
table.btn.radius,
table.button.radius table td a,
table.btn.radius table td a {
	border-radius: 4px;
	-webkit-radius: 4px;
	-moz-radius: 4px;
	overflow: hidden;
}

a.btn.btn-large,
table.button.btn-large table td a,
table.btn.btn-large table td a {

	min-width: 186px;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	color: $white;
	text-decoration: none;

	strong {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		min-width: 186px;
		font-size: 16px;
		height: 34px;
		line-height: 34px;
		color: $white;
		text-decoration: none;
	}

	@media only screen and (max-width: $global-breakpoint) {
		min-width: 260px !important;
		font-size: 20px !important;
		line-height: 44px !important;
		height: 44px !important;

		strong {
			min-width: 260px !important;
			font-size: 20px !important;
			line-height: 44px !important;
			height: 44px !important;
		}
	}

}

a.btn.alert {
	background: $alert-color;
	color: $white;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f38780+0,f5654c+4,e53d16+95,cc3614+100 */
	background: -moz-linear-gradient(top, #f38780 0%, #f5654c 4%, #e53d16 95%, #cc3614 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f38780 0%,#f5654c 4%,#e53d16 95%,#cc3614 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f38780 0%,#f5654c 4%,#e53d16 95%,#cc3614 100%);
}

table.btn.alert {
	background: $alert-color;
	color: $white;

	table a {
		background: $alert-color;
		color: $white;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f38780+0,f5654c+4,e53d16+95,cc3614+100 */
		background: -moz-linear-gradient(top, #f38780 0%, #f5654c 4%, #e53d16 95%, #cc3614 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #f38780 0%,#f5654c 4%,#e53d16 95%,#cc3614 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #f38780 0%,#f5654c 4%,#e53d16 95%,#cc3614 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38780', endColorstr='#cc3614',GradientType=0 ); /* IE6-9 */

	}
}

.large-text-center .btn,
.text-center .btn {
	margin-left: auto;
	margin-right: auto;
}

.small-text-center .btn {
	@media (max-width: $global-breakpoint) {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}