th.callout-spacer {
	width: 30px;

	@media (max-width: $global-breakpoint) {
		width: 20px !important;
	}
}

table.body table.callout-wrapper {
	width: 100%;

	& > tbody tr > td {
		padding: 0 30px;
	}

	.spr-msg tr > td {
		padding: 0;
	}

	@media (max-width: $global-breakpoint) {

		width: 100% !important;

		& > tbody tr > td {
			padding: 0 20px !important;
		}

		.spr-msg tr > td {
			padding: 0 !important;
		}
	}
}

table.callout {
	border-radius: $global-radius;
	border-collapse: separate;
	overflow: hidden;
	line-height: normal;
	min-height: 62px;
	font-size: 16px;
	width: 100%;
	padding: 0;
	margin: 0 !important;
	Margin: 0 !important;
	margin-bottom: 20px;
	Margin-bottom: 20px;

	.wrapper-inner {
		margin: 0 $global-gutter;
		Margin: 0 $global-gutter;
	}

	.callout-inner {
		background-clip: border-box;
		overflow: hidden;
		border-radius: $global-radius;
		min-height: 32px;
		padding: 0;

		&.spr-msg > table {
			margin: 10px 26px;
			Margin: 10px 26px;

			@media (max-width: $global-breakpoint) {
				margin: 15px !important;
				Margin: 15px !important;
			}

		}

		.spr-msg-wrp {
			vertical-align: middle;
			overflow: hidden;

			strong {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				Margin-bottom: 0;
				font-size: 16px;
				border-collapse: collapse !important;
			}
		}

	}

	.callout-inner.spr-msg {
		overflow: hidden;
	}
}

th.callout-inner.success {

	border-color: #e4ffb2;
	background: #ecffc9;
	background: -moz-linear-gradient(top, #f4ffe2 0%, #eaffc5 100%);
	background: -webkit-linear-gradient(top, #f4ffe2 0%, #eaffc5 100%);
	background: linear-gradient(to bottom, #f4ffe2 0%, #eaffc5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4ffe2', endColorstr='#eaffc5', GradientType=0);

	table {
		margin: 15px;
		Margin: 15px;
	}
}

.spr-msg .spr-msg-wrp {
	max-width: 100%;
	width: auto !important;

	strong {
		display: inline-block;
		padding-left: 22px;
		padding-right: 24px;

		@media only screen and (max-width: $global-breakpoint) {
			padding-left: 3px;
			padding-right: 15px;
		}
	}
}

.spr-msg .spr-msg-icon {
	vertical-align: middle;
	clear: none;
	display: block;

	width: 44px;
	height: 44px;

	@media only screen and (max-width: $global-breakpoint) {
		width: 33px;
		height: 33px;
	}
}

table.callout .info {
	background: #eff1ef;
	color: #313d4f;
	font-size: 15px;
	border: none;
	padding: 13px 18px 7px;

	.label {
		display: inline-block;
		width: 100%;
		max-width: 100px;
	}

	a, span {
		color: #313d4f !important;
		text-decoration: none !important;
	}

	p {
		font-size: 15px;
		line-height: normal;
		margin-bottom: 5px;
	}

	@media (max-width: $global-breakpoint) {
		padding: 15px 30px !important;

		.label {
			width: auto !important;
			max-width: 100% !important;
			display: block !important;
		}

		p:first-child {
			margin-bottom: 20px !important;
		}
	}
}