<spacer size="20"></spacer>

<container align="center" class="spr-email-wrapper">

  {{> header }}

  <spacer size="30"></spacer>

  {{> aktywacja-nowego-emaila }}

  {{> aktywacja-nowego-emaila-text}}

  <spacer size="20"></spacer>

  {{> aktywacja-nowego-emaila-info}}


</container>


{{> footer }}

<spacer size="20"></spacer>