<spacer size="20"></spacer>

<container align="center" class="spr-email-wrapper">

  {{> header }}

  <spacer size="30"></spacer>

  {{> ogloszenie-przeniesione }}

  {{> ogloszenie-przeniesione-text}}

  <spacer size="40"></spacer>

</container>

{{> footer }}

<spacer size="20"></spacer>