<container class="spr-footer">
    <spacer size="16"></spacer>
    <row>
        <columns large="10" small="10"></columns>
        <columns large="630" small="630">

            <p>Nadawcą jest Sprzedajemy.pl&nbsp;Sp.&nbsp;z&nbsp;o.o., ul. Swojczycka&nbsp;38, 51-501&nbsp;Wrocław, wpisana do KRS pod&nbsp;nr&nbsp;0000356639
                w&nbsp;VI Wydziale Sądu Gospodarczego w Sądzie Rejonowym dla Wrocławia-Fabrycznej, kapitał zakładowy: 383.800&nbsp;PLN</p>
            <spacer size="15"></spacer>
            <p>Copyright © 2017 Sprzedajemy.pl Sp. z.o.o. <a href="https://sprzedajemy.pl/regulamin#prywatnosc_poufnosc">Polityka prywatności</a></p>

        </columns>
        <columns large="10" small="10"></columns>
    </row>
</container>