<wrapper class="spr-header">
    <container>
        <spacer size="18"></spacer>
        <row class="spr-header-row text-center">
            <columns small="0" large="28"></columns>
            <columns small="650" large="210" valign="bottom" class="large-text-left small-text-center logo">
                <a href="https://sprzedajemy.pl/"><img src="{{root}}assets/img/logo.png" /></a>
            </columns>
            <columns small="650" large="384" valign="bottom" align="center" class="large-text-left small-text-center claim">
                <a href="https://sprzedajemy.pl/"><img src="{{root}}assets/img/claim.png" /></a>
            </columns>
            <columns small="0" large="28"></columns>
        </row>
    </container>
</wrapper>