<wrapper>
    <container class="email-msg-wrapper">
        <wrapper class="email-msg">
            <spacer size="16" class="spacer-16"></spacer>
            <span class="email-msg-heading">Cześć <strong>Magda</strong>,</span>

            <spacer size="24" class="spacer-20"></spacer>

            <p>Okres emisji Twojego ogłoszenia: <a href="https://sprzedajemy.pl/pandora-zegarek-pure-811017wh-nr17311507">Zegarek Pandora Pure model 811018WH Oryginał</a> dobiegł końca,
                dlatego przenieśliśmy
                je do archiwum. W dalszym ciągu możesz je znaleźć w panelu użytkownika w zakładce "nieaktywne ogłoszenia"
            </p>

        </wrapper>

        <spacer size="14"></spacer>


    </container>

    <table class="small-text-center large-text-left btn-wrapper">
        <tr>
            <td class="btn-wrapper-inner small-text-center large-text-left">


                {{#btn-primary classnames="btn-primary" href="https://sprzedajemy.pl/TwojeOferty" width="186px" height="34px"}}Przejdź do konta{{/btn-primary}}


            </td>
        </tr>
    </table>

</wrapper>