<wrapper>
    <container class="callout-wrapper">

        <callout class="spr-msg success" bgColor="#ecffc9">

            {{#raw}}
            <table valign="middle" width="100%" align="center" class="no-padding">
                <tr valign="middle">
                    <td valign="middle" width="44"><span class="spr-msg-icon-wrp"><img src="{{root}}assets/img/warning.png" class="spr-msg-icon"/></span></td>
                    <td valign="middle" class="spr-msg-wrp"><strong>Aktywacja nowego adresu e-mail</strong></td>
                    <td width="15"></td>
                </tr>
            </table>
            {{/raw}}

        </callout>
    </container>
</wrapper>