<wrapper class="bottom-info">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="info-ico" width="20" align="top"><img src="{{root}}assets/img/info-icon.png" alt="Uwaga!" width="15" height="15"/></td>
            <td align="top"><p>Jeśli to nie Ty prosiłeś/aś o zmianę - zignoruj tę wiadomość. Twój stary adres e-mail pozostanie niezmieniony.</p></td>
        </tr>
    </table>

</wrapper>