<wrapper>
    <container class="email-msg-wrapper">
        <wrapper class="email-msg">
            <spacer size="16" class="spacer-16"></spacer>
            <span class="email-msg-heading">Cześć <strong>Magda</strong>,</span>

            <spacer size="24" class="spacer-20"></spacer>

            <p>Otrzymaliśmy prośbę o zmianę Twojego adresu e-mail.<br/>
                Jeśl na pewno chcesz dokonać tej zmiany, upewnij się, że nowy adres e-mail jest poprawny i kliknij w przycisk na końcu.
            </p>

        </wrapper>


    </container>

    <spacer size="5"></spacer>

    <table class="small-text-center large-text-left btn-wrapper">
        <tr>
            <td class="btn-wrapper-inner has-callout">
                <callout class="info" bgcolor="#eff1ef">
                    <wrapper>
                        <p><span class="label">Stary email:</span> <a href="mailto:magda.nowak@gmail.com">magda.nowak@gmail.com</a></p>
                        <p><span class="label"><strong>Nowy email:</strong></span> <a href="mailto:jan.nowak@gmail.com"><strong>jan.nowak@gmail.com</strong></a></p>
                    </wrapper>
                </callout>

                <spacer size="20"></spacer>
            </td>
        </tr>
        <tr>
            <td class="btn-wrapper-inner small-text-center large-text-left">


                {{#btn-primary href="https://sprzedajemy.pl/TwojeOferty" width="217px" height="34px"}}Aktywuj nowy e-mail{{/btn-primary}}


            </td>
        </tr>
    </table>

</wrapper>